.navbar {
    align-items: center;
    text-align: center;
    position: relative;
}

.nav {
    float: left;
    width: 120px;
    padding: 10px 5px 10px 5px;
    background-color: rgb(197, 157, 207, .3);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.nav:hover {
    background-color: rgb(197, 157, 207, .8);
}
